<div class="newPost">
<h2>Create a Growl!</h2>

<form action="/growls" method="post">
Name:<br>
  <input type="text" name="growl[author]"><br>
  Post:<br>
  <input type="text" name="growl[post]"><br>

   <input type="submit">
</form><br>

<p><a href="/growls">Back to index!</a></p>
</div>
